// ======================= //
// Functions and variables //
// ======================= //

$default-font-size: 24px;

$sci-blue: #00b1eb;
$sci-pink: #e6007e;

@function pixel-to-rem($pixel-size) {
  $conv-rem: $pixel-size / $default-font-size;

  @return #{$conv-rem}rem; 
} 

@function get-percentage($size, $amount){
  $size: $size/100;
  $total: $size*$amount;

  @return #{$total}px;
}

// ===== //
// Reset //
// ===== //

* {
  margin: 0;
  padding: 0; }

:root {
  font-family: "Open sans";
  font-size: $default-font-size;
  overflow: hidden;
  }

h1, h2, h3, h4, h5 h6, p, figure {
  color: white;
  font-weight: normal; }

header {
  margin: 0 0 5%;
  background-color: $sci-blue;
  padding: 2em;

  h1{
    font-family: 'Open sans';
    font-weight: 700;
    color: black;
}
}

h1 {
  font-family: Jost;
  font-size: 1.5rem;
  font-weight: 500;
  font-style: normal;
  text-align: initial; }

p,
a {
  font-family: Jost;
  font-weight: 200;
  color: white;
  text-align: justify;
  text-decoration: none;
  margin: 0.7em 4em; }

svg{
  width: 100%;
  height: 100%;
}
// ======= //
// Imports //
// ======= //

@import "partials/landing.scss";
@import "partials/super.scss";
@import "partials/startmenu.scss";
@import "partials/about.scss";
@import "partials/games.scss";
@import "partials/people.scss";
@import "partials/jobs.scss";

// ============= //
// Media queries //
// ============= //

@media screen and (max-width: 1200px) {

  :root{
    font-size: $default-font-size - 4px;
  }

  #about {
    margin-bottom: 10%;
  }

  #games{
    
    article{
      p{
        width: 80%;
      }

      #gameselect{
        width: 40%;
      }

      #dropinfo{
        width: 60%;
      }

      .gamelink{
        width: pixel-to-rem(450px);
        height: pixel-to-rem(150px);
  
        &:hover{
          height: pixel-to-rem(250px);
        }
      }
    }
  }

  #people{

    div{
      width: pixel-to-rem(700px);
      height: pixel-to-rem(230px);
    }

    img{
        width: get-percentage(710, 40);
        height: get-percentage(956, 40);
        position: relative;
        right: 135px;
    }
  }
}

@media screen and (max-width: 900px) {

  :root{
    font-size: $default-font-size - 6px;
  }

  #about {
    margin-bottom: 12%;
  }

  #games{
    
    p{
      width: 80%;
    }

    #gameselect{
      width: 35%;
    }

    #dropinfo{
      width: 65%;
    }

    .gamelink{
      width: pixel-to-rem(420px);
      height: pixel-to-rem(120px);
  
      &:hover{
          height: pixel-to-rem(220px);
      }
    }
  }

  #people{

    div{
      width: pixel-to-rem(700px);
      height: pixel-to-rem(230px);
    }
    
    img{
        width: get-percentage(710, 40);
        height: get-percentage(956, 40);
        position: relative;
        right: 80px;
    }
  }
}

@media screen and (max-width: 750px) {

  :root{
    font-size: $default-font-size - 4px;
  }

  #about {
    margin-bottom: 15%;
  }

  #games{
    
    p{
      width: 100%;
    }

    #gameselect{
      width: 100%;
    }

    #dropinfo{
      visibility: hidden;
    }

    .gamelink{
      width: pixel-to-rem(500px);
      height: pixel-to-rem(200px);
  
      &:hover{
          height: pixel-to-rem(300px);
      }
    }
  }

  #people{

    div{
      width: pixel-to-rem(400px);
      height: pixel-to-rem(200px);
    }
    
    img{
        width: get-percentage(710, 20);
        height: get-percentage(956, 20);
        position: relative;
        right: 50px;
    }
  }
}

@media screen and (max-width: 400px) {

  :root{
    font-size: $default-font-size - 4px;
  }

  #startmenu{
    padding-left: pixel-to-rem(40px);
    
    nav{
      li{
        margin: 4px;
      
          a{
          font-size: .7rem;
        }
      }
    }
  }

  #about {
    margin-bottom: 15%;

    h1{
      font-size: 1.2rem;
    }
  }

  #games{
    
    p{
      width: 100%;
    }

    #gameselect{
      width: 100%;
    }

    #dropinfo{
      visibility: hidden;
    }

    .gamelink{
      width: pixel-to-rem(500px);
      height: pixel-to-rem(200px);
  
      &:hover{
          height: pixel-to-rem(300px);
      }
    }
  }

  #people{

    div{
      width: pixel-to-rem(400px);
      height: pixel-to-rem(200px);
    }
    
    img{
        width: get-percentage(710, 20);
        height: get-percentage(956, 20);
        position: relative;
        right: 50px;
    }
  }
}
