#jobs{
    width:100%;
    height:100vh;

    header{
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 85%);
    }

    h2{
       font-family: Jost;
       font-weight: bold; 
    }

    p{
        margin: 0;
    }
}