#landing{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    background-color: black;
    width: 100%;
    height: 100vh;
    z-index: 1;
    
    h1{
        font-family: "Open sans";
        font-size: pixel-to-rem(28px);
        font-weight: 500;
        font-style: normal;
        color: white;
        text-align: center;
        padding: 1em;
        transition: .5s;
    }

    input[type="button"]{
        align-self: center;
        outline: none;
        background-color: white;
        font-family: "Open sans";
        font-size: 1rem;
        font-weight: 300;
        color: black;
        margin: 1em;
        padding: 0.4em;
        border: none;
        border-radius: 2px;
        transition: .5s;

        &:hover{
            background-color: rgb(200, 245, 255);
        }

        &:active{
            background-color: rgb(150, 150, 150);
        }
    }
}

#logo{
    width: 100%;
    height: 35vh;
    padding: 4%;
    overflow: hidden;
    transition: all 2s;
}

#cyan{
    animation-name: cyan-glitch;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: center;
    transform-box: fill-box;
}

#magenta{
    animation-name: magenta-glitch;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes cyan-glitch{
    0%{
        transform: skew(0);
    }
    10%{
        transform: translate(5px);
    }
    20%{
        transform: skew(2deg);
    }
    30%{
        transform: skew(0.5deg);
    }
    35%{
        transform: translate(3px);
    }
    40%{
        transform: skew(6deg);
    }
    45%{
        transform: translate(-7px);
    }
    50%{
        transform: skew(2deg);
    }
    55%{
        transform: translate(4px);
    }
    60%{
        transform: skew(3deg);
    }
    70%{
        transform: skew(5deg);
    }
    80%{
        transform: translate(-3px);
    }
    90%{
        transform: translate(0);
    }
    100%{
        transform: skew(0);
    }
}

@keyframes magenta-glitch{
    0%{
        transform: skew(0);
    }
    10%{
        transform: translate(-5px);
    }
    20%{
        transform: skew(-2deg);
    }
    30%{
        transform: skew(-0.5deg);
    }
    35%{
        transform: translate(-3px);
    }
    40%{
        transform: skew(-6deg);
    }
    45%{
        transform: translate(7px);
    }
    50%{
        transform: skew(-2deg);
    }
    55%{
        transform: translate(-4px);
    }
    60%{
        transform: skew(-3deg);
    }
    70%{
        transform: skew(-5deg);
    }
    80%{
        transform: translate(3px);
    }
    90%{
        transform: translate(0);
    }
    100%{
        transform: skew(0);
    }
}

// ============= //
// Media queries //
// ============= //