#super{
    visibility: hidden;
    width: 100%;
    height: 100vh;
    overflow-x: hidden; // this is used to make the scrollbar apears after the whole container terminates its trandforming
    position: fixed;
    bottom: 100%;
    background-color: rgba(0, 0, 0, .6);
    transition: all 1.2s;
    z-index: 2;

    scrollbar-width: 3px;
    scrollbar-base-color: rgba(205, 205, 205, 0.5);
    scrollbar-arrow-color: rgba(235, 235, 235, 0.7);
    scrollbar-highlight-color: rgba(205, 205, 205, 0.7);

    section,
    header,
    article{
        max-width: -webkit-fill-available;
        width: 100%;
        z-index: 3;
        
    }
}
